
@{
    ViewBag.Title = "Index";
}
<br>
<h2>Alumno</h2>

<li>@Html.ActionLink("Estado Academico", "EstadoAcademico", "Alumno")</li>
<li>@Html.ActionLink("opcion2", "Index", "Home")</li>
<li>@Html.ActionLink("opcion3", "Index", "Home")</li>