@{
    ViewBag.Title = "Oops! Error Encountered";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/CustomStyles/Oops.css" />
</head>


<section>
    <div style="background-color: rgb(21,171,132)">
        <div class="text-container">

            <img src="~/Images/PageError.gif" id="pagerrorImg">

            <div class="text">
                <h1 class="titulo">Oops!</h1>
                <h2>No pudimos encontrar lo que estabas buscando.</h2>

                @Html.ActionLink("Volver a principal", "Index", "Home", new { area = "" }, new { @class = "button btn btn-warning" })
            </div>
        </div>
    </div>
</section>    

