@model Entities.Especialidad

@{
    ViewBag.Title = "Details";
}
<br />
<h2>Detalle especialidad</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "Especialidad", new { id = Model.EspecialidadID })" class="btn btn-primary">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        Editar
    </a>
    |
    @Html.ActionLink("Volver", "Index")
</p>
