@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Images/fachada_utn.jpg" />
    <h1>Bienvenido al sistema Academia</h1>
    <p><a href="https://www.frro.utn.edu.ar/" class="btn btn-primary btn-lg">Sitio web &raquo;</a></p>
</div>