@model Entities.Persona

@{
    ViewBag.Title = "Perfil";
}
<br>
<br>
<h1>Perfil</h1>
<br>
<h4>Legajo: @Model.Legajo </h4>
<br>
<h4>Nombre: @Model.Nombre </h4>
<br>
<h4>Apellido: @Model.Apellido </h4>
<br>
<h4>Telefono: @Model.Telefono </h4>
<br>