
@{
    ViewBag.Title = "Horario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Horario/Horario.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Horario/TimeTable.css" />
</head>

<body>
    <header></header>

    <div style="display: grid;">

        <!--Header de la tabla-->
        <div class="timetable-top">
            <h2 class="timetable-title">Horarios</h2>

            <div class="actions">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#save">Gaurdar</button>
                <button type="button" class="btn">Descargar</button>

                <!-- Drop down menu filters-->
                @{
                    List<SelectListItem> FiltrosBloques = new List<SelectListItem>();
                    FiltrosBloques.Add(new SelectListItem
                    {
                        Text = "Electivas",
                        Value = "Electivas"
                    });
                    FiltrosBloques.Add(new SelectListItem
                    {
                        Text = "Basicas",
                        Value = "Basicas",
                        Selected = true
                    });
                    FiltrosBloques.Add(new SelectListItem
                    {
                        Text = "Troncales",
                        Value = "Troncales"
                    });
                }
                @Html.DropDownList("filtros", FiltrosBloques, new { @class = "form-control" })
            </div>
        </div>

        <!--Tabla de horarios-->
        <section class="timetable" id="table_axis">

            <ol class="timings">
                <li>08:00</li>
                <li>09:00</li>
                <li>10:00</li>
                <li>11:00</li>
                <li>12:00</li>
                <li>13:00</li>
                <li>14:00</li>
                <li>15:00</li>
                <li>16:00</li>
                <li>17:00</li>
                <li>18:00</li>
                <li>19:00</li>
                <li>20:00</li>
                <li>21:00</li>
                <li>22:00</li>
                <li>23:00</li>
                <li>00:00</li>
            </ol>

            <ol class="week">

                <li class="day">
                    <span class="name">Lun</span>

                    <!--Generar fondo-->
                    <div class="block">
                        @for (int i = 0; i < 16; i++)
                        {
                            {<div class="block"></div>}
                        }
                    </div>

                    <!--Contenido-->
                    <div class="hour hour__10 class1">
                        <div class="title">ST2334</div>
                        <div>LEC[SL1]</div>
                    </div>
                    <div class="hour hour__12 class2">
                        <div class="title">CFG1010</div>
                        <div>TUT[02]</div>
                    </div>
                    <div class="hour hour__12 class2">
                        <div class="title">CFG1010</div>
                        <div>TUT[02]</div>
                    </div>
                </li>

                <li class="day">
                    <span class="name">Mar</span>

                    <!--Generar fondo-->
                    <div class="block">
                        @for (int i = 0; i < 16; i++)
                        {
                            {<div class="block"></div>}
                        }
                    </div>
                    <div class="hour hour__08 hour--two class3">
                        <div class="title">MA2213</div>
                        <div>LEC[SL1]</div>
                    </div>
                    <div class="hour hour__12 class4">
                        <div class="title">CS2020</div>
                        <div>TUT[02]</div>
                    </div>
                    <div class="hour hour__15 class3">
                        <div class="title">MA2213</div>
                        <div>LAB[B04]</div>
                    </div>
                    <div class="hour hour__15 class3">
                        <div class="title">MA2213</div>
                        <div>TUT[04]</div>
                    </div>
                </li>

                <li class="day">
                    <span class="name">Mie</span>

                    <!--Generar fondo-->
                    <div class="block">
                        @for (int i = 0; i < 16; i++)
                        {
                            {<div class="block"></div>}
                        }
                    </div>
                    <div class="hour hour__10 class4">
                        <div class="title">CS2020</div>
                        <div>LEC[01]</div>
                    </div>
                    <div class="hour hour__14 class1">
                        <div class="title">ST2334</div>
                        <div>TUT[08]</div>
                    </div>
                </li>

                <li class="day">
                    <span class="name">Jue</span>

                    <!--Generar fondo-->
                    <div class="block">
                        @for (int i = 0; i < 16; i++)
                        {
                            {<div class="block"></div>}
                        }
                    </div>
                    <div class="hour hour__10 class1">
                        <div class="title">ST2334</div>
                        <div>LEC[SL1]</div>
                    </div>
                    <div class="hour hour__14 hour--two class5">
                        <div class="title">GES1011</div>
                        <div>TUT[D3]</div>
                    </div>
                </li>

                <li class="day">
                    <span class="name">Vie</span>

                    <!--Generar fondo-->
                    <div class="block">
                        @for (int i = 0; i < 16; i++)
                        {
                            {<div class="block"></div>}
                        }
                    </div>

                    <div class="hour hour__08 class3">
                        <div class="title">MA2213</div>
                        <div>LEC[SL1]</div>
                    </div>
                    <div class="hour hour__10 hour--two class4">
                        <div class="title">CS2020</div>
                        <div>LEC[01]</div>
                    </div>
                    <div class="hour hour__13 class4">
                        <div class="title">CS2020</div>
                        <div>REC[01]</div>
                    </div>
                    <div class="hour hour__14 hour--two class5">
                        <div class="title">GES1011</div>
                        <div>LEC[01]</div>
                    </div>
                </li>

                <li class="day">
                    <span class="name">Sab</span>

                    <!--Generar fondo-->
                    <div class="block">
                        @for (int i = 0; i < 16; i++)
                        {
                            {<div class="block"></div>}
                        }
                    </div>
                </li>

            </ol>
        </section>
    </div>

    <!-- Ventana modal desea guardar cambios -->
    <div class="modal fade" id="save" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Guardar cambios</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    Los cambios que no hayas guardado se perderán.
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success">Gaurdar Cambios</button>
                </div>
            </div>
        </div>
    </div>

</body>

@section scripts{
<script type="text/javascript">
    //Ejecuta la ventana modal para confirmar guardado
    $('#save').on('shown.bs.modal', function () {
        $('#input').trigger('focus')
    })
</script>
}
